<div class="w-full h-40 flex justify-center mt-20 ">
  <div class="w-1/4 flex justify-end">
    <div class="w-40 h-40 rounded-full inline-block shadow-lg overflow-hidden">
      <img class="" src="http://localhost:3434/image/{{photographer.picture_url}}" alt="">
    </div>
  </div>
  <div class="w-1/4 flex flex-col h-full  justify-center ml-12">
    <p class="text-5xl text-gray-800"> {{ photographer.name }}</p>
    <p class="mt-2 text-gray-700">{{photographer.date_of_birth | date:"YYYY"}}</p>
  </div>
</div>
<div class="w-full  flex justify-center mb-10">
  <section class="w-3/4 h-0.5 bg-gray-100 mt-10 justify-center"></section>
</div>
<app-artworks [artworks] =photographer.artworks></app-artworks>

