<div class="w-full flex justify-center m-20">
  <div class="w-2/4">
    <div class="w-3/4  flex justify-center   items-center" *ngIf="isCheckedVisible">
      <p class="text-4xl  bg-green-400 w-16 h-16 pl-5 pt-2 text-white rounded-full transition">{{'\u2713'}}</p>
    </div>
    <div class="w-3/4  flex justify-center   items-center">
      <p class="text-3xl  mb-8">Fill photographer artwork data</p>
    </div>
    <form [formGroup]="_artworkForm" (ngSubmit)="addPhotographer()">
      <input name="title" type="text" placeholder="title" formControlName="title"
             class="w-3/4 h-20 p-4 shadow-lg border-2 border-gray-300 rounded-t-3xl text-2xl">
      <input name="createdYear" type="Date" formControlName="createdYear"
             class="w-3/4 h-20 p-4 border-l-2 border-r-2 border-gray-300  text-2xl">
      <input  type="File" accept="image/*" (change)="onImageSelected($event)"
              class="w-3/4 h-20 p-4 shadow-lg border-2 border-gray-300 rounded-b-3xl text-2xl">
      <button
        class="w-3/4 h-16 p-4 mt-10 shadow-lg border-2 border-gray-300 rounded-3xl text-xl bg-orange-700 text-white">
        Add Photographer
      </button>
    </form>
  </div>
</div>
